body{
    text-align:center;
    font-family:Arial;
    background:#f2f2f2;
}

#quote{
    margin:20px;
    padding:20px;
    background:white;
    width:400px;
    margin:auto;
}

#history{
    width:400px;
    margin:auto;
}